*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #0c0c0c;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(18%); /* Reduce el brillo para oscurecer la imagen */
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #d31313c9;
    position: relative;
    width: 100%;
    height: 50px;
}

header .sidebar {
    position: absolute;
    left: 10px;
    top: -11px;
}

header a {
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
}

.sidebar {
    height: 100%;
    width: 80px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: fixed;
    top: 50px;
    left: 0;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
}

.menu-btn:hover {
    background-color: #272727;
}

#menu {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 10;
}

#menu.visible {
    transform: translateX(0);
}

.menu-header {
    display: flex;
    align-items: center;
    padding-left: 6px;
    gap: 24px;
    margin-bottom: 20px;
}

.menufx {
    text-decoration: none;
    color: white;
}

#menu .menu-header a {
    background-color: #3f3f3f;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 10px;
    border-radius: 8px;
}

.menu-group {
    padding: 6px 0;
    border-block: 1px solid #3f3f3f;
}

.menu-item {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.menu-item span a{
    text-decoration: none;
    color: white;
}

.menu-item:hover {
    background-color: #272727;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

nav {
    width: 100%;
    height: 50px;
    align-items: center;
    padding: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > span {
    margin-top: 55px;
}

main h1 {
    font-size: 42px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto 1fr;
        grid-template-areas:
            "header"
            "nav"
            "section";
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    nav {
        justify-content: flex-start;
        position: fixed;
        top: 50px;
        width: 100%;
        z-index: 9,
    }

    section {
        padding-top: 122px;
    }
}

.textCuenta {
    margin-top: 5px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.circle{
    margin-top: 20px;
    border: solid 3px white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle span {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 20px;
}

/* Formulario davi uni*/

.comt{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 80%;
    margin: 5px;
    height: 40px;
    border-radius: 6px;
    background-color: #a7a3a39f;
}

 .active{
    background-color: #e8e6e6c3;
}

.btn-c{
    margin-top: 25px;
    width: 60%;
    margin: 5px;
    height: 40px;
    border-radius: 6px;
    background-color: #d31313c9;
    border: 0;
    text-transform: uppercase;
    color: white;
}





.form-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    height: 50px;
}
.form-group input {
    margin-top: 5px;
}
.form-group select {
    margin-top: 5px;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #d31313c9;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
}
.submit-btn:hover {
    background-color: #0056b3;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}





.reset-a {
    color: black;
    text-decoration: none;
    width: 100%;
}
.reset-a-white {
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 100%;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.checkbox-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    position: relative; /* Añadir posición relativa */
    margin: 5px;
}

.checkbox-button label {
    margin-right: 10px; /* Añadir margen derecho para separar el texto del checkbox */
}

.checkbox-button input[type="checkbox"] {
    margin-left: auto; /* Alinear el checkbox a la derecha */
}

#total {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.custom-input {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #f0f0f0; /* Color de fondo */
    color: #333; /* Color del texto */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px; /* Espacio alrededor del texto */
    width: 60px; /* Ancho del input */
    font-size: 14px; /* Tamaño del texto */
    outline: none; /* Eliminar el borde de enfoque */
}


.center {
    display: flex;
    justify-content: center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    display: none; /* Ocultar inicialmente */
  }
  
  #dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 250px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #dialog button {
    margin: 10px;
  }
  
  main h2 {
    text-align: center;
  }

  .new-functionality-badge {
    background-color: #d31313c9; /* Color de fondo del recuadro */
    color: #fff; /* Color del texto */
    font-size: 12px; /* Tamaño del texto */
    padding: 2px 5px; /* Espaciado interno */
    border-radius: 3px; /* Borde redondeado */
    margin-left: 5px; /* Margen izquierdo para separar del enlace */
}

.form-groups {
    margin-bottom: 1em;
}

.flex-rows {
    display: flex;
    justify-content: space-between;
    gap: 1em; /* Espacio entre los elementos */
}

.form-subgroups {
    flex: 1;
}

.form-labels {
    font-weight: 600;
    color: #ffffff;
    display: block;
    margin-bottom: 0.5em;
}

.form-inputs {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-buttons {
    display: block;
    width: 100%;
    padding: 0.5em;
    background-color: #d31313c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}



@media (max-width: 650px) {
    form {
        width: 100%;
        padding: 1em;
    }
}


/* Estilos para la tabla de productos */
.productos-lista {
    margin-top: 20px;
}

.productos-tabla {
    width: 100%;
    border-collapse: collapse;
}

.productos-tabla th,
.productos-tabla td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
    padding: 20px;
}

.productos-tabla th {
    background-color: #d31313c9;
}

.productos-tabla tbody tr:nth-child(even) {
    background-color: #c2b8b888;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#qr-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#precio-text {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
}

#cerrar-overlay {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 80%;
    font-size: 25px;
    background-color: #d31313c9;
    border: 0;
    padding: 20px;
    border-radius: 20px;
}

.vender-btn {
    width: 100%;
    padding: 5px;
}

